[submodule "disarRay/deps/spdlog"]
	path = disarRay/deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "disarRay/deps/GLFW"]
	path = disarRay/deps/GLFW
	url = https://github.com/ChloeZamorano/glfw
[submodule "disarRay/deps/imgui"]
	path = disarRay/deps/imgui
	url = https://github.com/ChloeZamorano/imgui
[submodule "disarRay/deps/glm"]
	path = disarRay/deps/glm
	url = https://github.com/g-truc/glm
